<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.garagelive.app" version="0.0.1">

        <name>GarageLive</name>

        <description>

            We are the new breed of Music Creating and Distribution

        </description>

        <author email="tom@garagelive.com" href="http://garagelive.com">

            GarageLive Team

        </author>

        <content src="index.html" />

        <access origin="*" />

        <preference name="Fullscreen" value="true" />

        <preference name="WebViewBounce" value="true" />

		<preference name="BackgroundColor" value="0x2c2c2c"/>

		<preference name="HideKeyboardFormAccessoryBar" value="true"/>

		<preference name="phonegap-version" value="3.7.0" />

		<preference name="target-device" value="universal" />

		<preference name="android-minSdkVersion" value="10" />

		<preference name="android-targetSdkVersion" value="15" />
		

		<preference name="SplashScreen" value="screen" />
		<preference name="AutoHideSplashScreen" value="true" />  
		<preference name="SplashScreenDelay" value="10000" /> 
		<preference name="ShowSplashScreenSpinner" value="false" />  
		<preference name="FadeSplashScreen" value="true" />  
		<preference name="FadeSplashScreenDuration" value="1.0" />
		
		<gap:plugin name="org.apache.cordova.splashscreen" />
		

		<!-- iPhone 6 / 6+ -->

		<icon src="icons/icon-60@3x.png" gap:platform="ios" width="180" height="180" />

		

		<!-- iPhone / iPod Touch  -->

		<icon src="icons/icon-60.png" gap:platform="ios" width="60" height="60" />

		<icon src="icons/icon-60@2x.png" gap:platform="ios" width="120" height="120" />

		

		<!-- iPad -->

		<icon src="icons/icon-76.png" gap:platform="ios" width="76" height="76" />

		<icon src="icons/icon-76@2x.png" gap:platform="ios" width="152" height="152" />

		

		<!-- Settings Icon -->

		<icon src="icons/icon-small.png" gap:platform="ios" width="29" height="29" />

		<icon src="icons/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

		

		<!-- Spotlight Icon -->

		<icon src="icons/icon-40.png" gap:platform="ios" width="40" height="40" />

		<icon src="icons/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

		

		

		<icon src="icons/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />

		<icon src="icons/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />

		<icon src="icons/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />

		<icon src="icons/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />

		<icon src="icons/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />

		<icon src="icons/fr-xxhdpi.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />

		<icon src="icons/ldpi.png" gap:platform="android" gap:density="ldpi" />

		<icon src="icons/mdpi.png" gap:platform="android" gap:density="mdpi" />

		<icon src="icons/hdpi.png" gap:platform="android" gap:density="hdpi" />

		<icon src="icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

		<icon src="icons/xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />

		
		<!-- Define app splash screen for each platform. -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="res/screen/blackberry/screen-225.png"              gap:platform="blackberry" />
    <gap:splash src="res/screen/Default.png"         					gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/Default@2x.png"      					gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/Default_1136@2x.png" 					gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="res/screen/Default-Portrait.png"           		gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/Default-Landscape.png"          		gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="res/screen/windows-phone/screen-portrait.jpg"      gap:platform="winphone" />


		

    </widget>

	